@import 'variables.sass'

.navLink 
    position : fixed
    top : 0
    display : flex
    gap : 20px
    width : 100%
    padding : 20px
    justify-content: space-between

.logo
    width:20%
    img
        width:80px

.links
    display: flex   
    justify-content: space-around
    align-items: center
    width: 60%
    gap:30px
    a 
        text-decoration : none
        color: $olivine
