@use 'variables'
.Register
    position: absolute
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background: linear-gradient(rgba(0,0,0,0.3)), url('curry.jpg')
    background-position: center
    background-size: cover
    h1
        color: variables.$parchment
        margin-bottom: 20px
    form
        width: 260px
        display: flex
        flex-direction: column
        align-items: center
        p.error
            color: #b10000
            font-size: 14px
            background: rgba(255,255,255,0.7)
            margin-top: 5px
            border-radius: 5px
            padding: 5px
            align-self: flex-start
            width: 100%
        label
            align-self: flex-start
            margin-bottom: 5px
            margin-top: 10px
            color: variables.$parchment
            font-size: 18px
        input
            width: 100%
            height: 40px
            border-radius: 10px
            border: 1px solid variables.$umber
            transition: border-color 0.3s ease
            padding: 0 10px
            background-color: rgba(255,255,255,0.5)
            &.border-red
                border-color: red
            &.border-red:focus-visible
                border-color: #b10000 !important
            &:focus-visible
                outline: none
                border-color: variables.$olivine
        button
            width: auto
            padding: 0 20px
            height: 40px
            margin-top: 20px
            color: white
            border: none
            border-radius: 5px
            cursor: pointer
            background: variables.$chamoisee
            transition: background 0.3s ease
            &:focus-visible
                outline: 1px solid variables.$umber
            &:hover
                background: variables.$olivine
